* {
	margin: 0;
	padding: 0;
}
#button1 {
	border: 1px solid lightgreen;
	width: 50px;
	height: 50px;
}
#input1 {
	width: 390 px;
	height: 50px;
	border: 1px solid black;
}
#button1 {
	border: 1px solid black;
}
#other {
	transform: translate(0, 1000px);
}
